<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <title>首页管理</title>
</head>
<body>
<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!--navbar:设置导航栏；navbar-header：设置导航栏头部;navbar-brand:品牌;navbar-nav:将一个ul导航菜单应用在导航栏内-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top" style="margin-bottom: 0px">

    <ul class="navbar-nav mr-auto font-weight-bold ">
        <li>
            <img src="/home_page_128px_505312_easyicon.net.ico" class="rounded-circle" width="40">
        </li>
        <!-- Brand/logo -->
        <a class="navbar-brand text-danger font-italic" href="#">Z-GAME</a>

        <li class="nav-item">
            <a class="nav-link" href="#">游戏目录</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">图片</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">存档<i class="badge">32</i></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">链接</a>
        </li>

    </ul>

    <!--ml-auto:元素居右-->
    <ul class="navbar-nav ml-auto font-weight-bold">
        <li>
            <img src="/settings.ico" width="40"/>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">设置</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
            </div>
        </li>

        <li>
            <img src="/登录.ico" width="40">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">登录</a>
        </li>

        <li>
            <img src="/退出.ico" width="40">
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">退出</a>
        </li>
    </ul>
</nav>

<!--中间部分-->
<div class="row" style="margin-top: 100px">
    <div class="col-sm-2" style="padding-right: 0;border-right:1px saddlebrown;box-shadow: 1px 0 2px ">
        <!--搜索框-->
        <div id="research" class="mr-auto" style="padding: 2px;height: 40px" width="30">
            <div class="input-group">
                <input class="form-control" type="text">
                <div class="input-group-btn">
                    <a href="#" class="btn btn-warning btn-sm">
                        <img src="/search_.ico" width="27">
                    </a>
                </div>
            </div>
        </div>

        <!--折叠菜单-->
        <div id="accordion">

            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        游戏管理
                    </a>
                </div>
                <div id="collapseOne" class="collapse show " data-parent="#accordion">
                    <div class="card-body">
                        <a class="dropdown-item" href="#">添加游戏</a>
                        <a class="dropdown-item" href="#">查看游戏</a>
                        <a class="dropdown-item" href="#">删除游戏</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        图片管理
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        存档管理
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <a class="dropdown-item" href="#">Link 1</a>
                        <a class="dropdown-item" href="#">Link 2</a>
                        <a class="dropdown-item" href="#">Link 3</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        首页管理
                    </a>
                </div>
                <div id="collapseFour" class="collapse show " data-parent="#accordion">
                    <div class="card-body">
                        <a class="dropdown-item" href="#">添加图片</a>
                        <a class="dropdown-item" href="#">查看游戏</a>
                        <a class="dropdown-item" href="#">删除游戏</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-10" style="padding-left: 8px">
        <!--中间右边部分的顶部，面包屑导航-->
        <nav class="breadcrumb" style="height: 40px;margin-bottom: 0px">
            <li><img src="/导航.ico" width="30"></li>
            <a class="breadcrumb-item" href="#">首页</a>
            <a class="breadcrumb-item" href="#">Library</a>
            <a class="breadcrumb-item" href="#">Data</a></li>
            <span class="breadcrumb-item active">GAME</span>
        </nav>

        <!--card属性，面板-->
        <div class="card bg-info text-white font-weight-bold" style="height: 52px">
            <div class="card-body">
                图片管理
            </div>
        </div>
        <!--表格-->
        <div class="row justify-content-center ">
            <div style="text-align: center;width: 50%">
                <form class="form-signin" id="pictureForm" action="#" enctype="multipart/form-data" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">首页操作</h1>
                    <label for="title" class="sr-only">标题</label>
                    <input   id="title" class="form-control" placeholder="标题" required autofocus>
                    <label  for="date" class="sr-only">发售日期</label>
                    <input  id="date" class="form-control" placeholder="发售日期" required>
                    <label  for="pic" class="sr-only">图片上传</label>
                    <input type="file" id="pic" class="form-control"  required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">确认</button>
                    <p class="mt-5 mb-3 text-muted">Copyright&copy; 2019-2020<span style="font-weight: 700;font-style:italic;color: rosybrown">Z-GAME</span> Incorporated.All rights reserved.</p>
                </form>
            </div>
        </div>

    </div>

</div>


</body>
</html>