<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<title>新闻页面</title>
</head>
<body>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--导航栏-->
<nav class="navbar navbar-expand-lg bg-info navbar-dark">
	<a class="navbar-brand" href="#"><img src="/uugai.com_1571667699943.png" style="width: 150px"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="../front/login.html">首页<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">游戏</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					更多
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">注册</a>
					<a class="dropdown-item" href="../front/login.html">登录</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">退出</a>
				</div>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" type="search" placeholder="查询" aria-label="Search">
			<button class="btn btn-outline-warning my-2 my-sm-0" type="submit">查询</button>
		</form>
	</div>
</nav>

<div class="container" style="margin-top: 100px">
	<div class="col-md-12 column">
		<img src="/16pic_581546_b.jpg" class="img-responsive" />
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<!--th是thymeleaf表达式-->
			<form th:action="@{/news/addNews}" method="post" role="form" class="form-horizontal"
				  style="width:900px;">

				<div class="form-group">
					<label style="color: brown ">新闻标题</label>
					<input type="text" class="form-control"  name="newsTitle" placeholder="新闻标题">
				</div>

				<div class="form-group">
					<label style="color: brown">新闻评论</label>
					<input type="text" class="form-control" name="newsContent" placeholder="新闻评论">
				</div>

				<div class="form-group">
					<label style="color: brown">作者姓名</label>
					<input type="text" class="form-control" name="adminName" placeholder="作者姓名">
				</div>

				<button type="submit" class="btn btn-primary">确定</button>
			</form>
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>
</body>
</html>