<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!--导航栏-->
<nav class="navbar navbar-expand-lg bg-info navbar-dark">
    <a class="navbar-brand" href="#"><img src="/uugai.com_1571667699943.png" style="width: 150px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="../front/login.html">首页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">游戏</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    更多
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">注册</a>
                    <a class="dropdown-item" href="../front/login.html">登录</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">退出</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="查询" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">查询</button>
        </form>
    </div>
</nav>

<div class="container" style="margin-top: 100px">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    新闻修改 <small>修改</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <form th:action="@{/news/editNews}" method="post" style="width: 500px;">
                <!-- @Update("UPDATE news set NewsTitle=#{newsTitle},NewsContent=#{newsContent},AdminName=#{adminName} WHERE NewsID=#{newsId}")-->
                <input type="hidden" name="newsId" th:field="${news.newsId}"/>
                <div class="form-group">
                    <label style="color: brown ">新闻标题</label>
                    <input type="text" class="form-control"  name="newsTitle" th:field="${news.newsTitle}">
                </div>

                <div class="form-group">
                    <label style="color: brown">新闻评论</label>
                    <input type="text" class="form-control" name="newsContent" th:field="${news.newsContent}">
                </div>

                <div class="form-group">
                    <label style="color: brown">作者姓名</label>
                    <input type="text" class="form-control" name="adminName" th:field="${news.adminName}">
                </div>
                <button type="submit" class="btn btn-warning">修改</button>
                <!--
                    新闻标题：<input type="text" name="newsTitle"  th:field="${news.newsTitle}"/><br/>
                    新闻评论：<input type="text" name="newsContent" th:field="${news.newsContent}"/><br/>
                    作者姓名：<input type="text" name="adminName" th:field="${news.adminName}"/><br/>-->
            </form>
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    注意!
                </h4> <strong>Warning!</strong> 修改前请注意检查，不要修改错误，以免造成不必要的麻烦 <a href="#" class="alert-link">alert link</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>