<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>注册</title>
</head>
<body>
<script src="webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
<div class="container">
    <form th:action="@{/register}" method="post">
        <div class="form-group row">
            <label for="inputName3" class="col-sm-2 col-form-label">账号</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="inputName3" placeholder="账号" onclick="javascript:hideMsg()" required>
            </div>
            <!--这里可以使用ajax-->
            <p th:if="${msg!=null}"><span th:text="${msg}" id="msg" style="color: red"></span></p>
        </div>
        <div class="form-group row">
            <label for="inputName4" class="col-sm-2 col-form-label">昵称</label>
            <div class="col-sm-10">
                <input type="text" name="nickname" class="form-control" id="inputName4" placeholder="昵称"  onblur="javascript:nickAjax()" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label">密码</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="密码" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="age" class="col-sm-2 col-form-label">年龄</label>
            <div class="col-sm-10">
                <input type="text"name="age" class="form-control" id="age" placeholder="年龄" required>
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">性别</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <!--value属性，如果是男提交1，如果是女提交0-->
                        <input class="form-check-input" type="radio" name="sex" id="gridRadios1" value="1" checked>
                        <label class="form-check-label" for="gridRadios1">
                            男
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="sex" id="gridRadios2" value="0">
                        <label class="form-check-label" for="gridRadios2">
                            女
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row " >
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">注册</button>
            </div>
        </div>
    </form>
</div>
<!--鼠标focus事件-->
<!--<script>
    $("#inputName3").focus(function(){
        $("#msg").hide();
    });
</script>-->

</body>
</html>