<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.mapper.Customermapper">
    <!--查询所有-->
    <select id="queryAll" parameterType="String" resultType="com.zj.pojo.Customer">
        SELECT * FROM customer
    </select>
    <!--根据昵称查询密码-->
    <select id="queryPasswordByName" parameterType="String" resultType="String">
        SELECT password FROM customer WHERE nickname=#{nickname}
    </select>
    <!--根据名字查询用户是否存在-->
    <select id="queryUserByName" parameterType="String" resultType="com.zj.pojo.Customer">
        SELECT * FROM customer WHERE username=#{name}
    </select>
    <!--根据用户名查昵称-->
    <select id="queryNickName" parameterType="String" resultType="com.zj.pojo.Customer">
        SELECT * FROM customer WHERE nickname=#{nickname}
    </select>
</mapper>